@font-face {
  font-family: 'alarm-clock';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/alarm-clock.ttf') format('truetype');
}

#player-mole-container {
  background: none;
}

h1#radio-title {
  font-family: alarm-clock, sans-serif;
  text-transform: uppercase;
  z-index: 9999;
  padding: 8px 10px;
  color: white;
  font-size: 23px;
  font-weight: 300;
  position: absolute;
  -webkit-transition: all .5s ease;
  -webkit-transform: translateX(0);
}

h1#radio-title a {
  color: lightgreen;
  text-decoration: underline;
  display: inline-block;
  font-size: 14px;
  position: relative;
  bottom: 1px;
  right: 1px;
  -webkit-transition: all .5s ease;
}

/* RADIO ON (DEFAULT) */

.player-height {
  height: 90px !important;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

video {
  display: none !important;
}

.ytp-chrome-bottom, .html5-video-player {
  /*opacity: 1 !important;*/
  /*background: #800080 !important;*/
  background: rgb(0, 150, 136) !important;
}


.ytp-preview, .ytp-gradient-bottom {
  display: none !important;
}

#watch-discussion {
  display: none !important;
}

/* END OF RADIO ON */

/* RADIO OFF (AFTER DISMISSING) */
.dismiss-youtube-radio video {
  display: block !important;
}

.dismiss-youtube-radio .ytp-chrome-bottom, .dismiss-youtube-radio .html5-video-player {
  background: rgba(0,0,0,0.5) !important;
}

.dismiss-youtube-radio .ytp-preview, .dismiss-youtube-radio .ytp-gradient-bottom {
  display: none !important;
}

.dismiss-youtube-radio h1#radio-title {
  -webkit-transform: translateX(-193px);
}
.dismiss-youtube-radio h1#radio-title a {
  background: rgba(0,0,0,0.35);
  border-radius: 6px;
  padding:6px;
  text-decoration: none;
}
.dismiss-youtube-radio .player-height {
  height: 0 !important;
}
/* END OF RADIO OFF */